<!-- Footer -->
        <footer class="footer">
            <div class="footer-content">
                <div class="footer-logo">
                    <img src="/images/logo.jpg" alt="logo">
                    <p>Leading the Way in Medical Excellence, Trusted Care.</p>
                </div>
                <div class="footer-links">
                    <h4>Important Links</h4>
                    <p>Appointment</p>
                    <p>Doctors</p>
                    <p>Services</p>
                    <p>About Us</p>
                </div>
                <div class="footer-contact">
                    <h4>Contact Us</h4>
                    <p>Call: (237) 881-812-255</p>
                    <p>Email: healora.dr@gmail.com</p>
                    <p>Address: 0122 Some place</p>
                    <p>Some Country</p>
                </div>
                <div class="footer-newsletter">
                    <h4>Newsletter</h4>
                    <input type="email" placeholder="Enter your email address">
                    <button>-></button>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© 2021 Hospital's name All Rights Reserved by PNTEC-LTD</p>
                <div class="social-icons">
                    <!-- Add social media icons here -->
                </div>
            </div>
        </footer>
    