<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Doctor Dashboard</title>
</head>
<body>
  <h1>Welcome Doctor</h1>
  <p>Email: <%= doctor.email %></p>

  <a href="/doctor-logout">Logout</a>
</body>
</html>
