/* Background */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #eaf9f4, #c5e6f7);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Login card */
.login-container {
  width: 100%;
  max-width: 400px;
}

.login-card {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Logo */
.logo img {
  width: 130px;
  display: block;
  margin: 0 auto;
}


/* Inputs */
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
}

/* Remember me */
.remember {
  text-align: left;
  margin: 10px 0 20px;
  font-size: 14px;
  color: #333;
}

/* Buttons */
.btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin-bottom: 15px;
}

.btn.primary {
  background: #0b2a53;
  color: #fff;
}

.btn.primary:hover {
  background: #1c4a8c;
}

.btn.google {
  background: #13274f;
  color: #fff;
  border: 1px solid #ccc;
}

.btn.google:hover {
  background: #274c77;
}

/* Forgot password */
.forgot {
  font-size: 14px;
  margin-top: 10px;
}
.forgot a {
  color: #3b82f6;
  text-decoration: none;
}
.forgot a:hover {
  text-decoration: underline;
}
